.education-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 100px;
    flex-direction: column;
  }
  
  .header-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header-container h1 {
    font-size: 2.5rem;
    color: aliceblue;
  }
  
  .header-container p {
    color: grey;
    max-width: 600px;
    margin: 0 auto; /* Center align the text within the container */
  }
  
  .education-card-view {
    width: 80%;
    max-width: 600px; /* Limit the maximum width for better readability */
    height: auto; /* Set height to auto */
    background-color: #001219;
    margin: 10px;
    padding: 20px; /* Increase padding for better spacing */
    border-radius: 10px; /* Add border-radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box-shadow for a subtle effect */
    border: 1px solid blueviolet;
    transition: transform 0.3s ease;
  }
  
  .education-card-view:hover {
    transform: translateY(-5px);
  }
  
  .education-card-view h4 {
    font-size: 24px; /* Example font size for header */
    color: #E5E5E5; /* Example color for header */
  }
  
  .education-card-view h5 {
    font-size: 15px; /* Example font size for subheader */
    color: #555; /* Example color for subheader */
    margin: 5px 0;
  }
  
  .education-card-view h6 {
    font-size: 12px; /* Example font size for date */
    color: #777; /* Example color for date */
  }
  
  .education-card-view p {
    font-size: 16px; /* Example font size for paragraph */
    color: #999; /* Example color for paragraph */
    margin-top: 10px; /* Example margin-top for spacing */
  }
  
  .education-card-view h4, h5, h6, p {
    margin: 0;
    background-color: transparent;
  }

  .checkpoint {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: green; /* Adjust color as needed */
  }
  
  .education-details {
    flex: 1;
  }
  
  /* Responsive Styles */
  @media (max-width: 992px) {
    .header-container h1 {
      font-size: 2rem;
    }
  
    .education-card-view {
      width: 90%;
    }
  }
  
  @media (max-width: 768px) {
    .header-container h1 {
      font-size: 1.5rem;
    }
  
    .header-container p {
      font-size: 0.9rem;
    }
  
    .education-card-view h4 {
      font-size: 20px;
    }
  
    .education-card-view h5 {
      font-size: 14px;
    }
  
    .education-card-view h6 {
      font-size: 11px;
    }
  
    .education-card-view p {
      font-size: 14px;
    }
  }
  
  @media (max-width: 576px) {
    .header-container h1 {
      font-size: 1.2rem;
    }
  
    .header-container p {
      font-size: 0.8rem;
    }
  
    .education-card-view {
      width: 100%;
    }
  
    .education-card-view h4 {
      font-size: 18px;
    }
  
    .education-card-view h5 {
      font-size: 12px;
    }
  
    .education-card-view h6 {
      font-size: 10px;
    }
  
    .education-card-view p {
      font-size: 12px;
    }

    
  }
  