.home-container {
    display: flex;
    height: 100vh;
    padding: 20px;
    color: white;
}

.left-container {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name {
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}


h4 {
    color: blueviolet;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#name p{
    color: grey;
    font-size: 1.25rem;
}

.button-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.button-container button {
    color: white;
    padding: 15px 25px;
    background-color: transparent;
    border: 1.5px solid #090979;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #090979;
    color: white;
}

#contact {
    color: white; 
    padding: 15px 25px;
    background: linear-gradient(45deg, #090979, #00d4ff); 
    border-radius: 5px;
    cursor: pointer;
}

#profile-container {
    width: 400px; /* Set the width and height to be equal */
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid blueviolet; /* Border color */
}

#profile-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
    border-radius: 50%;
}

#name p,
#name h1,
#name h4,
#name p {
    margin: 0; /* Remove margin */
}

#name h1,
#name h4,
#name p{
    margin-top: 10px;
}
